<h3>Log In</h3>
<div class="row">
  <div class="small-7 columns">
    <%= form_tag sessions_path do %>
      <div class="control-group">
        <%= label_tag :username %>
        <div class="controls">
          <%= text_field_tag :username, params[:username] %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :password %>
        <div class="controls">
          <%= password_field_tag :password %>
        </div>
      </div>
      
      <div class="actions"><%= submit_tag "Log In" %></div>
    <% end %>
  </div>
</div>

<!-- in the future, will have this link on the second accordian tab and link to there! need to do this on the sign up page to link to login tab as well -->
<ul>

<li><strong><%= link_to 'Signup', signup_path %></strong></li>

</ul>  