<p id="notice"><%= notice %></p>

<h1>Listing Houses</h1>

<table>
  <thead>
    <tr>
      <th>Seller</th>
      <th>Neighborhood</th>
      <th>Price</th>
      <th>Street 1</th>
      <th>Street 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Season</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @active_houses.each do |house| %>
      <tr>
        <td><%= house.user_id %></td>
        <td><%= house.neighborhood %></td>
        <td><%= house.price %></td>
        <td><%= house.street_1 %></td>
        <td><%= house.street_2 %></td>
        <td><%= house.city %></td>
        <td><%= house.state %></td>
        <td><%= house.zip %></td>
        <td><%= house.season %></td>
        <td><%= house.num_of_bedrooms %></td>
        <td><%= house.num_of_bathrooms %></td>
        <td><%= link_to 'Show', house %></td>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
        <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House', new_house_path %>
