<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @house.user_id %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @house.neighborhood %>
</p>

<p>
  <strong>Price:</strong>
  <%= @house.price %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @house.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @house.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @house.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @house.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @house.zip %>
</p>

<p>
  <strong>Active:</strong>
  <%= @house.active %>
</p>

<p>
  <strong>Season:</strong>
  <%= @house.season %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @house.gender %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @house.smoking %>
</p>

<p>
  <strong>Drinking:</strong>
  <%= @house.drinking %>
</p>

<p>
  <strong>Pets allowed:</strong>
  <%= @house.pets_allowed %>
</p>

<p>
  <strong>Furnished:</strong>
  <%= @house.furnished %>
</p>

<p>
  <strong>Bath:</strong>
  <%= @house.bath %>
</p>

<p>
  <strong>Type:</strong>
  <%= @house.type %>
</p>

<p>
  <strong>Laundry:</strong>
  <%= @house.laundry %>
</p>

<p>
  <strong>Utilities included:</strong>
  <%= @house.utilities_included %>
</p>

<p>
  <strong>Description:</strong>
  <%= @house.description %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @house.parking %>
</p>

<p>
  <strong>Num of bedrooms:</strong>
  <%= @house.num_of_bedrooms %>
</p>

<p>
  <strong>Num of bathrooms:</strong>
  <%= @house.num_of_bathrooms %>
</p>

<p>
  <strong>Private room:</strong>
  <%= @house.private_room %>
</p>

<p>
  <strong>Private bath:</strong>
  <%= @house.private_bath %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
