<p id="notice"><%= notice %></p>

<% if @users.empty? %>
  <h5><center><i>There are currently no users to view. Please check back again!</i></center></h5>
<% else %>
    <div id="main-container" class="container-fluid">
      <div id="main content" class="col-xs-9">
      <% @users.each do |user| %>
        <div class="row">
          <div class="card">
          <div class="card-block">
            <div class="col-xs-2">
              <% if user.picture.blank? %>
                <%= image_tag 'empty_user_picture.png', :class => "img-circle", size: "100x100", class: "left" %>
              <% else %>
                <%= image_tag user.picture, :class => "img-circle", size: "100x100" %>
              <% end %>
            </div>
            <div class="col-xs-2">     
              <h4 class="card-title"><%= user.proper_name %></h4>
            </div>
            <div class="col-xs-5">
              <p class="card-text"><%= user.description %></p>
            </div>
            <div class="col-xs-2">
              <%= image_tag 'u1176.png', :class => "contact_icon", display: "inline", size: "23x20" %><p class="contact_info"><%= user.email %></p><br>
              <%= image_tag 'u1174.png', :class => "contact_icon", display: "inline", size: "23x20" %><p class="contact_info"><%= user.phone %></p><br>
              <%= image_tag 'u1172.png', :class => "contact_icon", display: "inline", size: "23x20" %><p class="contact_info"><%= user.fb_link %></p>
            </div>
          </div>
          </div>
        </div>
      <% end %>
      </div>
      
      <div id="sidebar" class="col-xs-3">
        <div class="card">
          <div class="card-block">
            <form name="user_search_filters">
              <h6><center>Filters</center></h6>
              <hr>
              <div class="row">
                <div class="col-xs-6">
                  <p class="user_filter">Neighborhood:</p>
                </div>
                <div class="col-xs-1">
                  <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6">
                  <p class="user_filter">Gender:</p>
                </div>
                <div class="col-xs-1">
                <select>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6">
                  <p class="user_filter">Season:</p>
                </div>
                <div class="col-xs-1">
                  <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6">
                  <p class="user_filter">Smoking?:</p>
                </div>
                <div class="col-xs-1">
                  <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6">
                  <p class="user_filter">Drinking?:</p>
                </div>
                <div class="col-xs-1">
                  <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6">
                  <p class="user_filter">Room:</p>
                </div>
                <div class="col-xs-1">
                  <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6">
                  <p class="user_filter">Price Limit:</p>
                </div>
                <div class="col-xs-1">
                  <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>

              <center><button type="submit">Apply Filters</button></center>
            </form>

          </div>
        </div>
      </div>
    </div>


<%= link_to 'New User', new_user_path %>

<% end %>