<p id="notice"><%= notice %></p>

<div id="main-container" class="container-fluid">
  <div id="main content" class="col-xs-12">
    <div class="row">
      <div class="card">
        <div class="card-block">
          <% if current_user.owner? %>

            <div class="col-xs-3" id="account-details">
              <%= render 'account_details' %>
            </div>
            <div class="col-xs-3" id="account-preferences">
              <%= render 'account_preferences' %>
            </div>
            <div class="col-xs-6" id="house-details">
              <%= render 'house_details' %>
            </div>

          <% else %>
            <div class="col-xs-6" id="account-details">
              <%= render 'account_details' %>
            </div>
            <div class="col-xs-6" id="account-preferences">
              <%= render 'account_preferences' %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
